.infoScreen {
    color: burlywood;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 5%;
    box-sizing: border-box;
}

.infoscreenLightMode {
    color: #4C4236;
}

.weatherDays {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 33.333%;
    margin-top: 3%;
}

.infoscreenFirstRaw {
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    height: 33.333%;
    width: 100%;
    display: flex;
}

.infoScreenFavBtn {
    background-color:#4C4236;
    color:white;
}

.buttonGroupsBackgroundStyle {
    /* margin: 0% 5%; */
    padding: 3%;
    border-radius: 15px;
    border: 4px solid #4C4236;
    background-color: #A49E98;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonGroupStyle {
    margin: 3%;
    display: flex;
    flex-direction: row;
}

.infoScreenBtnGroup {
    background-color:slategrey;
    color:white;
}

.infoScreenBtnGroupActive  {
    background-color:#4C4236;
    color:white;
}

.quickInfoStyle {
    width: 60%;
    display: flex;
}

.quickActionStyle {
    width: 40%;
    justify-content: space-between;
    display: flex;
}